<footer class="page-footer thin-footer">
  <div class="container">
    <div class="links">
      <a href="/" class="amber-link">Home</a>
      <a href="/register" class="amber-link">Registration</a>
      <a href="/contact" class="amber-link">Contact Us</a>
    </div>
    <div class="socials">
      <div class="fb-like" data-href="http://www.facebook.com/4659Robotix" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
      <div class="twitter-wrapper">
        <a href="https://twitter.com/WarriorRobotix" class="twitter-follow-button" data-show-count="false">Follow @WarriorRobotix</a>
      </div>
      <div class="youtube-wrapper">
        <div class="g-ytsubscribe" data-channel="warriorrobotix" data-layout="default" data-count="default" data-theme="dark"></div>
      </div>
    </div>
  </div>
</footer>
