<div style="height:60px;margin-bottom: 30px;">
  <table style="margin:0 auto;padding:0;height:60px;"><tr>
  <td><a href="http://4659warriors.com"><%= image_tag attachments['logo.png'].url, alt: 'Logo', width: 40, height: 40 %></a></td>
  <td style="font-weight:bold;vertical-align:middle;font-size:20px;"><a href="http://4659warriors.com" style="color:black;text-decoration:none;">Warrior Robotix</a></td>
  </tr></table>
</div>
