<div style="margin-top: 40px;border-top:1px solid #bbb;padding-top:5px; color:#999;">
  If you want to reply this email or have any questions, please send an email to <a href="mailto:team4659@gmail.com">team4659@gmail.com</a>.
</div>
