<div style="margin-top: 40px;border-top:1px solid #bbb;padding-top:5px; color:#999;">
  If you want to reply this email or have any questions, please send an email to <a href="team4659@gmail.com">team4659@gmail.com</a>.<br/>
  If you receive any suspicious email with "on behalf of" or "via" beside email address, do not click any link in that email.
</div>
