<div style="height:60px;margin-bottom: 30px;">
  <table style="margin:0 auto;padding:0;height:60px;"><tr>
  <td><%= image_tag attachments['logo.png'].url, alt: 'Logo', width: 40, height: 40 %></td>
  <td style="font-weight:bold;vertical-align:middle;font-size:20px;">Warrior Robotix</td>
  </tr></table>
</div>
