<div class="card-panel">
  <h3 class="center-align"> Time left till School Starts</h3>
  <div class="countdown row" data-datetime="2015-09-08T08:30:00-04:00">
    <div class="col s3 center-align"><h5><span class="days"></span> days</h5></div>
    <div class="col s3 center-align"><h5><span class="hours"></span> hrs</h5></div>
    <div class="col s3 center-align"><h5><span class="minutes"></span> mins</h5></div>
    <div class="col s3 center-align"><h5><span class="seconds"></span> secs</h5></div>
  </div>
</div>
<h1 class="flow-text">Previous Competitions</h1>
<% if member_is_admin? %>
<%= link_to 'New Competition', new_competition_path, class: "btn-bordered" %>
<% end %>

<div class="row">
  <% @previous_competitions.each do |competition| %>
  <% cache(competition) do %>
  <%= render competition %>
  <% end %>
  <% end %>
</div>
