<h2>Reset password</h2>
<p>
  Warrior Robotix website has receive a request to reset your password. If you didn't trigger this request, do not click this link.<br>
</p>
<p style="text-align:center">
  <%= link_to 'Reset Password', reset_password_url(@member.id.to_s(16), @member.reset_password_token) %>
</p>
