<h2>Welcome to the Warrior Robotix Club</h2>
<p>Your application has been accepted, please go to the link below and set your password in order to login.</p>
<p>By setting your password, you will have access to information, events, and attendances on the club website</p>
<p style="text-align:center">
<%= link_to 'Set Password', reset_password_url(@member.id.to_s(16), @member.reset_password_token) %>
</p>
