<h1 class="flow-text">Warrior Robotix Registration</h1>

<div class="card-panel" style="padding-bottom:15px;padding-top:10px;">
  <p>
    Your application has successfully submitted to the Warrior Robotix Club. It will be reviewed later. Any further progress will sent to your email ( <%= @member.email %> ).
  </p>
  <p>
    If you have any questions or want to change your application, please contact Warrior Robotix Club members. This can be done either by speaking to one of us personally or by contacting us through the Contact page. Thank you for choosing Warrior Robotix!
  </p>
</div>
