<h1 class="flow-text">Warrior Robotix Registration</h1>

<div class="card-panel" style="padding-bottom:15px;padding-top:10px;">
  <p>
    You application has successfully submitted to Warrior Robotix Club. It will be reveiew later. Further progress will send to your email ( <%= @member.email %> ).
  </p>
  <p>
    If you have any question or want to change your application, please contract Warrior Robotix Club members.
  </p>
</div>
