<h1 class="flow-text">Warrior Robotix Registration</h1>

<div class="card-panel" style="padding-bottom:15px;padding-top:10px;">
  <p>
    The Warrior Robotix member registration form is disabled.
  </p>
  <p>
    If you have any questions or concerns, feel free to contact Warrior Robotix Club members or by going to the Contact page.
  </p>
</div>
