<%= form_tag event_reply_path(event), remote: true  do %>
<% reply = event.reply_from(current_member) %>
<table>
<% ({'yes' => 'confirmed', 'maybe' => 'maybe', 'no' => 'declined' }).each do |key, value| %>
  <tr>
    <td><%= radio_button_tag 'reply', value, reply == value, class: "stop-propagation", data: {"trigger-form" => "1"} %>
    <%= label_tag "reply_#{value}", key.capitalize, class: :dark %></td>
    <td><%= event.replyers_description(value) %></td>
  </tr>
<% end %>
</table>
<% end %>
