<h3>About Us</h3>
<div class="divider"></div>
<div class="row valign-wrapper">
  <div class=" col l6 s12 ">
    <h5>Mission Statement:</h5>
    <p>
      Here at Warrior Robotix we pride ourselves by following our simple motto: Design. Build. Win. and for us it has worked effectively. We are based out of Port Credit Secondary School in Mississauga, Ontario, Canada, and have been competing in tournaments such as VEX and Skills Canada. We founded Warrior Robotix back in 2012 and have worked ourselves into one of the elite teams in high school robotics. We offer not only the materials for a successful member but also the skills and character building that not only will help in robotics but also in life. If you are interested in joining robotics come and join Warrior Robotix today!
      <br>
      <blockquote>
        “Warrior Robotix prepares its members to not only become successful workers but successful people through robotics and the challenges that come with it.”
      </blockquote>
    </p>
  </div>
  <div class=" col l6 s12 ">
    <%= image_tag 'logos/full.jpg', class: 'materialboxed hover responsive-img' %>
  </div>
</div>

<div class="row">
  <div class="col s12 large-margin-bottom">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#admins">Admins</a>
      </li>
      <li class="tab col s3"><a href="#coaches">Coaches</a>
      </li>
    </ul>
  </div>
  <div id="admins" class="col s12">
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Prajith Gnanakumar</h5>
          <p class="truncate">
            Club Vice-President
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Joe Mattekatt</h5>
          <p class="truncate">
            Club President
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Swaleh Owais</h5>
          <p class="truncate">
            Club Vice-President
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Sohail Hameed</h5>
          <p class="truncate">
            Website Designer
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Edward Guo</h5>
          <p class="truncate">
            Website Developer
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Shalin Patel</h5>
          <p class="truncate">
            Website Developer
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Rasesh Shah</h5>
          <p class="truncate">
            Sponsorship Affairs
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Justin Amin</h5>
          <p class="truncate">
            Head of Public Relations
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="coaches" class="col s12">
    <div class="col m6 s12 ">
      <h5>Mr. Tempelmann</h5>
      <p>
        Mr. Tempelmann has dedicated countless hours after school and at lunch to help us build our robots, keep us safe and to supervise us.
      </p>
    </div>
    <div class="col m6 s12">
      <h5>Mr. Mathewson</h5>
      <p>
        Mr. Mathewson has dedicated many hours after school to help us build our robots, keep us safe and to supervise us.
      </p>
    </div>
    <div class="col m6 s12 ">
      <h5>Mr. Shaikh</h5>
      <p>
        Mr. Shaikh has been a very inpirational mentor to our team since, who has taught us so much and encouraged us ever since the beginning. Although he no longer works at our school, he is forever in our hearts.
      </p>
    </div>
  </div>
</div>
