<div class="row" style=" padding-top:30px;">
       <div class="col s12 m8 hide-on-med-and-down">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11564.30447030167!2d-79.588919!3d43.563297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb69c8a518daf86c!2sPort+Credit+Secondary+School!5e0!3m2!1sen!2sca!4v1419569664308" width="600" height="450" frameborder="0" style="border:0"></iframe>
       </div>
       <div class="col s12 m4 card-panel" style="padding-bottom:10px;">
         <h3 class="flow-text">Contact Details</h3>
                <div class="col s12">
                  <p>
                    Port Credit Secondary School<br>70 Mineola Road East<br>Mississauga, ON L5G 2E5<br>
                  </p>
                </div>
                <div class="col s12">
                    <p><i style="" class="material-icons prefix">phone</i>: (905) 278-3382</p>
                </div>
                <div class="col s12">
                  <p><i class="material-icons">mail</i>: <a href="mailto:team4659@gmail.com">team4659@gmail.com</a></p>
                </div>

              <div class="col s2"><a class="right" href="https://twitter.com/warriorrobotix"><img style="width: 150%" src="<%= asset_path 'sponsors/socials/twitter.png' %>"></a></div>
              <div class="col s2"><a class="right" href="https://www.facebook.com/4659Robotix"><img style="width: 150%" src="<%= asset_path 'sponsors/socials/facebook.png' %>"></a></div>
              <div class="col s2"><a class="right" href="https://www.youtube.com/user/warriorrobotix"><img style="width: 150%" src="<%= asset_path 'socials/youtube.png' %>"></a></div>
       </div>
       <div class="col s12 card-panel">
         <h5 class="flow-text">Send Us A Message</h5>
        <div class="input-field col s6 ">
            <input value="" id="name" type="text" class="validate">
            <label class="active" for="name">Full Name</label>
        </div>
        <div class="input-field col s6 ">
            <input value="" id="title" type="text" class="validate">
            <label class="active" for="title">Title</label>
        </div>
        <div class="input-field col s6 ">
            <input value="" id="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
        </div>
        <div class="input-field col s6 ">
            <input value="" id="phone" type="text" class="validate">
            <label class="active" for="phone">Phone Number</label>
        </div>
        <div class="input-field col s12 ">
            <input value="" id="message" type="text" class="validate">
            <label class="active" for="message">Message</label>
        </div>
        <button class="col s4 btn waves-effect waves-light" type="submit" name="action">Send Message</button>
       </div>
    </div>
