<h1 class="flow-text">Warrior Robotix Member Contract</h1>
<div class="card-panel">
  <p>In order to insure that parents and students understand the responsibility and commitment needed by each Robotics member, please take the time to read over and sign this contract with your child.</p>

  <h5>Student</h5>
  <table class="bordered except-last">
    <tr><td><strong>1.</strong> I realize that The Robotics Club is designed for me to have fun learning science, math, engineering, technology, and teamwork skills.</td></tr>
    <tr><td><strong>2.</strong> I agree to work my hardest to learn and help my team at every meeting.</td></tr>
    <tr><td><strong>3.</strong> I agree to treat myself, my teammates, all materials, my captain, other teams and their captains, and any teachers with the utmost respect.</td></tr>
    <tr><td><strong>4.</strong> I realize that no problem has only one solution and that a successful team is one which cooperates by considering <strong>EVERYONE'S</strong> solutions and ideas.</td></tr>
    <tr><td><strong>5.</strong> I agree that my behaviour at all meetings and tournaments will be constructive and respectful.</td></tr>
    <tr><td><strong>6.</strong> I am aware that the full season fee will be between $50 - $100 to support my tools, materials, competition fees, and T-shirts.</td></tr>
    <tr><td><strong>7.</strong> I agree that each team meeting is valuable, and I will be <strong>on time</strong> to each meeting. If a conflict arises, <strong>I will notify my captain in advance</strong>.</td></tr>
    <tr><td><strong>8.</strong> I agree to cooperate on whatever solution the team chooses, even if it is not my first choice.</td></tr>
    <tr><td><strong>9.</strong> I agree to treat other teams at competitions with the utmost respect and good sportsmanship.</td></tr>
    <tr><td><strong>10.</strong> I am aware that the meetings will take place after school and last until 4:30 PM.</td></tr>
    <tr><td><strong>11.</strong> I agree that the goal of my team is to do our best to solve a challenging problem.</td></tr>
    <tr><td><strong>12.</strong> I agree that if I am in grade 9 or 10, I will <strong>attend Robotics Club twice a week</strong>. If I am in grade 11 or 12, I will attend 6 meetings every month. If I fail to comply with the minimum requirements for attendance, I may be asked to leave the team.</td></tr>
    <tr><td><strong>13.</strong> I agree that if my behaviour is not helpful during a team meeting, the captain can ask me to leave. If this happens repeatedly, I may be asked to leave the team.</td></tr>
  </table>

  <h5>Parent</h5>
  <table class="bordered except-last">
    <tr><td><strong>1.</strong> I understand that in Skills Canada and VEX robotics, the students come first. These competitions are about kids having fun and getting hands-on experience in learning teamwork, science, mathematics, engineering, and technology skills. Everything the team does starts and ends with that principle.</td></tr>
    <tr><td><strong>2.</strong> I am aware that the full season fee will be between $50 - $100 to support my child’s tools, materials, competition fees, and T-shirts.</td></tr>
    <tr><td><strong>3.</strong> I agree to make every effort to have my child arrive and depart on time for every meeting. If there is a conflict, either my child or I will notify the coach as soon as possible. I understand my child has a commitment to his/her team.</td></tr>
    <tr><td><strong>4.</strong>  I realize that my child's coach will be contributing a significant amount of time and effort to provide a rewarding experience for the team. I will play a role in supporting the team.</td></tr>
    <tr><td><strong>5.</strong> I agree to discuss all items listed above with my child.</td></tr>
    <tr><td><strong>6.</strong> I am aware that the meetings will take place after school and last until 4:30 PM.</td></tr>
  </table>
</div>
