<h1><%= title 'Photos' %></h1>

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/135183539@N04/albums/72157658116048435" title="Robotix 2014-15 pic">
  <img src="https://farm6.staticflickr.com/5809/20908720308_2545d0992a_b.jpg" width="800" height="533" alt="Robotix 2014-15 pic">
</a>
<script type="text/javascript" data-no-turbolink>
var w = Math.min($('main .container').first().width(),800);
$('main a img').first().attr('width',Math.round(w)).attr('height',Math.round(w*2/3))
</script>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8" data-no-turbolink></script>
