<h2>Skills Ontario</h2>
<div class="row">
  <div class="slider ">
    <ul class="slides">
      <li>
        <img src="pic/worlds2014_fit.png">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
<h3>About Skills</h3>
<div class="divider"></div>
<div class="row valign-wrapper">
  <div class=" col l6 s12 ">
    <p>
      Skills Ontario, their are a number of Skills Competitions to expose and engage Ontario youth to the exciting world of skilled trades and technologies. Some of competitions include Skills Robotics and Virtual Robotics, and numerous components of the Ontario Technological Skills Competition. Please use the buttons below to access further information on each of the competitions.
    </p>
    <br>
    <br>
    <a href="http://www.skillsontario.com/competitions/otsc-sec/scopes">
      <div class="col s4  btn waves-effect waves-light">Full Scoope</div>
    </a>
  </div>
  <div class=" col l6 s12 "><img class="materialboxed hover responsive-img" src="pic/skills.jpg">
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div>
      Skills Robotics (Skills Canada) offers students a chance to push the boundaries of engineering by giving students a safe learning environment where they are taught to use machinery and their brains to solve the unique challenges thrown at them. Skills provides students with a chance to hone in their machining skills, while also developing upon their critical thinking, time management, ingenuity, and a perseverance skills. While Skills is usually open to those who have used machinery as it requires a degree of skill those who show a desire to learn may be accepted.
    </div>
  </div>
  <div class="col s12 m6 ">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jh-ISXRleJ8?list=PLzEvPVfwqvumNUm23nDnCg8b_Fw2fqd0l" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="row ">
  <h3>Achivements</h3>
  <div class="divider"></div>
  <br>
  <div class="col l4 s12 ">
    <div class="card">
      <div class="card-icon grey lighten-3">
        <i class="material-icons large">star</i>
      </div>
      <div class="card-content">
        <h5>Thrid Place</h5>
        <p>2012-2013 third place skills Ontario Robotics team of 4</p>
      </div>
    </div>
  </div>
  <div class="col l4 s12   ">
    <div class="card">
      <div class="card-icon grey lighten-3">
        <i class="material-icons large">star</i>
      </div>
      <div class="card-content">
        <h5>First place</h5>
        <p> 2013-2014 first place skills Ontario Robotics Control Systems and Design</p>
      </div>
    </div>
  </div>
  <div class="col l4 s12   ">
    <div class="card">
      <div class="card-icon grey lighten-3">
        <i class="material-icons large">star</i>
      </div>
      <div class="card-content">
        <h5>Seconded place</h5>
        <p> 2012-2013 Second place skills Ontario Robotics Control Systems and Design</p>
      </div>
    </div>
  </div>
  <div class="col s12 center-align">
    <a class="waves-effect waves-teal btn-flat large">More Achivments
      </a>
  </div>
</div>
