<h1><%= title 'Teams' %></h1>
<div class="row">
  <div class="col l6 m6 s12">
    <h5>President's note:</h5>
    <p>
      Here at Warrior Robotix, we strive to bridge the gap between theoretical studies and practical experience. Built on the dedication put forth by its members and administrators, Warrior Robotix is more that merely a club, it is a lifestyle.
    </p>
  </div>
  <div class="col l6 m6 s12">
    <%= image_tag 'logos/full.jpg', class: 'materialboxed hover responsive-img' %>
  </div>
</div>
<div class="row">
  <div class="col s12 large-margin-bottom">
    <ul class="tabs">
      <li class="tab col s6">
        <a class="active" href="#vex_a">VEX Team A</a>
      </li>
      <li class="tab col s6">
        <a href="#skills">Skills Team</a>
      </li>
    </ul>
  </div>
  <div id="vex_a" class="col s12">
    <div class="col s12 m6 offset-m3 center-align vertical-margin-40">
      <%= image_tag 'pages/teams/vex_a.jpg', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Joe</h5>
          <p class="truncate">
            Club President<br>
            Head Designer
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Prajith</h5>
          <p class="truncate">
            Club Vice Preident<br>
            Accounts Manager
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Shalin</h5>
          <p class="truncate">
            Website Developer<br>
            Robot Builder
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Edward</h5>
          <p class="truncate">
            Website Devloper<br>
            Robot Programer
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Sohail</h5>
          <p class="truncate">
            Website Devloper<br>
            Robot Builder
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Swaleh</h5>
          <p class="truncate">
            Skills Captain<br>
            Robot Builder and Promotions
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Jackie</h5>
          <p class="truncate">
            Vex &amp; Skills Robot Builder<br>
            Senior Desginer &amp; Adviser
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Justin</h5>
          <p class="truncate">
            Head Scout<br>
            Robot Builder
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="skills" class="col s12">
    <div class="col s12 m6 offset-m3 center-align">
      <%= image_tag 'pages/teams/skills.jpg', class: 'materialboxed hover responsive-img vertical-margin-40' %>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Sohail</h5>
          <p class="truncate">
            Website Devloper<br>
            Robot Builder
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Swaleh</h5>
          <p class="truncate">
            Skills Captain<br>
            Robot Builder and Promotions
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Jackie</h5>
          <p class="truncate">
            Vex &amp; Skills Robot Builder<br>
            Senior Desginer &amp; Adviser
          </p>
        </div>
      </div>
    </div>
    <div class="col s10 m6 l4 offset-s1 center-align">
      <div class="card">
        <div class="card-content">
          <h5>Justin</h5>
          <p class="truncate">
            Head Scout<br>
            Robot Builder
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
