<div class="row nested-fields">
  <div class="input-field col text">
    <%= f.label :description, "Option", class: "option-label" %>
    <%= f.text_field :description %>
  </div>
  <div class="col remove">
    <%= link_to_remove_association "remove", f, class: 'btn-bordered right' %>
  </div>
</div>
