<h3 class="flow-text">Registration Form Fields</h3>
<div id="registration_fields_table" class="card-panel" style="padding:10px;">
  <table class="flow-text centered bordered responsive-table" style="font-size:100%;">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th><span class="hide-on-small-only">Input </span>Type</th>
        <th>Required</th>
        <th class="hide-on-med-and-down" colspan="4">Actions</th>
        <th class="hide-on-large-only"></th>
        <th class="hide-on-large-only"></th>
        <th class="hide-on-large-only"></th>
        <th class="hide-on-large-only"></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'registration_fields/field_rows' %>
    </tbody>
  </table>
  <div class="center-align" style="margin-top:30px;">
    <%= link_to 'New Registration Field', new_registration_field_path, class: 'btn' %>
  </div>
</div>
