<h2><%= title 'Posts' %></h2>

<% if member_is_admin? %>
<% cache do %>
<%= render(partial: "index_create")  %>
<% end %>
<% end %>
<div class="posts-container">
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
</div>
