<% if member_is_admin? && (params[:page].nil? || params[:page] == "1") %>
<% cache do %>
<%= render(partial: "index_create")  %>
<% end %>
<% end %>
<div class="posts-container">
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
</div>
<%= paginate @posts %>
