<p id="notice" class="center max8"><%= notice %></p>

<h1 class="max8 flow-text">Listing Posts</h1>

<%= render "index_create" if member_is_admin? %>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<br>
