<p id="notice" class="center max8"><%= notice %></p>

<h1 class="max8 flow-text">Listing Posts</h1>

<% if member_is_admin? %>
<% cache do %>
<%= render(partial: "index_create")  %>
<% end %>
<% end %>
<% @posts.each do |post| %>
<% cache(post) do %>
  <%= render post %>
<% end %>
<% end %>

<br>
