<% if member_signed_in? %>
<h1 style="font-size:2rem;" class="flow-text">Posts</h2>
<% else %>
<h1 style="font-size:2rem;" class="flow-text">Blog</h2>
<% end %>

<% if member_is_admin? %>
<% cache do %>
<%= render(partial: "index_create")  %>
<% end %>
<% end %>
<div class="posts-container">
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
</div>
