<div class="posts-container card-panel">
  <%= render @post %>
</div>
<% if member_is_admin? && @post.type == "Poll" %>
  <% cache(['voter_list',@post]) do %>
  <%= render 'polls/voter_list', poll: @post %>
  <% end %>
<% end %>
