@import "materialize/components/color";

$primary-color: color("grey", "darken-3");
$secondary-color: color("amber", "darken-2");
$secondary-color-darker: color("amber", "darken-3");
$background-color: color("blue-grey", "lighten-5");
$link-color: color("blue", "darken-2");
$link-color-darker: color("blue", "darken-4");

$navbar-height: 44px;
$navbar-height-mobile: 44px;

$dropdown-color: white;
$dropdown-bg-color: color("grey", "darken-2");
$dropdown-hover-bg-color: color("grey", "darken-3");

$slider-indicator-color: $secondary-color;

@import "materialize";

.read-more-box {
  max-height: 400px;
  position: relative;
  overflow: hidden;
  &.expended{
    max-height: none;
  }
  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 60px 0 0 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8) ,rgba(255,255,255,1));
    a.button {
      color: $secondary-color;
    }
  }
}
.amber-link{
  color: $secondary-color;
}

.btn-text{
  @extend .btn-flat;
  color: $secondary-color;
  margin-bottom: 15px;
}

.amber-link, .btn-text{
  &:hover, &:active{
    color: #BF7800;
  }
}

.btn{
  margin-bottom: 15px;
}
.btn-narrow-flat{
  @extend  .btn-flat;
  padding: 0 .5rem;
  margin-bottom: 15px;
}

.btn-bordered{
  @extend .btn-text;
  border: 1px solid $secondary-color;
  &:hover, &:active{
    color: white;
    background-color: $secondary-color;
  }
}

.large-padding-bottom{
  padding-bottom: 30px;
}

body{
  background-color: $background-color;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

main{
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;

  min-height: calc(100vh - 74px);
}

footer.page-footer{
  background-color: $primary-color;
  .footer-copyright {
    background-color: #4B4B4B;
  }
  .footer-logo{
    max-width: 100%;
    max-height: 100px;
  }
}

.card .card-content .card-title {
  @extend .grey-text, .text-darken-4, .truncate;
  position: relative;
  padding-right: 30px;
  .material-icons{
    position: absolute;
    top: 12px;
    right: 0px;
  }
}

label.dark {
  color: black;
}

.actions{
  padding-right: .5rem;
  *{
    float: right;
  }
}

.date-field {
  position: relative;
  top: -7px;
}

.tabs .tab a.active {
  color: $secondary-color;
}

.tabs .indicator {
  background-color: $secondary-color;
}

.tab {
  .material-icons{
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}

.no-margin-bottom{
  margin-bottom: 0;
}

.material-icons.inline{
  position: relative;
  &.small{
    top: 9px;
  }
}

.row.large-margin-bottom{
  @media #{$medium-and-down} {
    margin-bottom: 36px;
  }
}

.col.large-margin-bottom{
  margin-bottom: 20px;
}

.row.large-margin, .large-margin-sm{
  @media #{$medium-and-down} {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.col.med-margin-bottom{
  margin-bottom: 15px;
}

.margin-center{
  margin-left: auto;
  margin-right: auto;
}

.vertical-margin-40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.no-vertical-margin{
  margin-top: 0;
  margin-bottom: 0;
}

.max6{
  margin: 30px auto;
  max-width: 600px;
}

.centered.row{
  text-align: left;
}

.hash-modal{
  display: none;
}

.square-wrapper, .ratio-4-3-wrapper{
  position: relative;
  width: 100%;

  &::before{
    content: "";
    display: block;
  }

  .ratio-content, .square{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.square-wrapper::before{
  padding-top: 100%;
}

.ratio-4-3-wrapper::before{
  padding-top: 75%;
}

.error-explanation.card-panel{
  margin: 30px;
  padding: 0;

  .panel-heading{
    @extend .red;

    padding: 5px 10px;

    .panel-title{
      font-size: 1.4rem;
      color: #FFC2B5;
    }
  }

  .panel-content{
    table{
      td{
        padding-left: 8px;
      }
    }
  }

  @media #{$medium-and-down} {
    margin: 0;
    margin-top: 10px;
  }
}

/// FOR MINI PROFILER
.profiler-results{
  @media #{$medium-and-down} {
    display: none;
  }
}
///
@import "*"
