nav {
  padding-left: 2%;
  padding-right: 2%;
  .top-nav li a[class*="nav-"]{
    height: $navbar-height
  }
  .dropdown-button{
    .material-icons.right{
      margin-left: 0;
      margin-right: -10px;
    }
  }
}

nav a:hover{
  color: $secondary-color;
}

.dropdown-content{
  li.text{
    &:hover{
      background-color: color("grey", "darken-2");
    }
  }
  li{
    line-height: 1rem;
    & > a, & > span {
      font-size: 1rem;
    }
  }
}

.nav-hl{
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
}
body.competitions-index .nav-competitions{
  @extend .nav-hl;
}
body.pages-vex .nav-competitions{
  @extend .nav-hl;
}
body.pages-skills .nav-competitions{
  @extend .nav-hl;
}
body.pages-other_competitions .nav-competitions{
  @extend .nav-hl;
}
body.teams-index .nav-about{
  @extend .nav-hl;
}
body.sponsors-index .nav-about{
  @extend .nav-hl;
}
body.pages-about_us .nav-about{
  @extend .nav-hl;
}
body.posts-index .nav-posts{
  @extend .nav-hl;
}
body.videos-index .nav-videos{
  @extend .nav-hl;
}
