// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.markdown{
  *{
    max-width: 100%;
  }
  ul li{
    list-style-type:disc;
  }
  ul {
    list-style-position: inside;
  }
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.no-pointer-events{
  pointer-events: none;
}

.front-page-content{
  .text-description{
    font-size: 1.2rem;
    text-align: justify;

    .video-wrapper{
      margin: 0 10px 30px 0;
    }
    .video-wrapper.right{
      margin: 0 0 30px 10px;
    }
  }
}

.fixed-action-btn{
  .social-logo{
    background-color: transparent;
    img{
      width: 100%;
    }
    &.twitter{
      background-color: #55acee;
    }
  }
}

.slider.indicators-inside{
  margin-bottom: -40px;
  ul.indicators{
    z-index: 2;
    bottom: 60px;
  }
}

body.pages-home, body.pages-vex, body.pages-skills, body.pages-about_us, body.pages-photos, body.pages-mentors,  body.pages-teams, body.pages-other_competitions, body.videos-index, body.pages-website{
  background-color: white;
  @media #{$large-and-up} {
    main > div.container{
      width: 80%;
    }
  }
}

.black-caption{
  background: rgba(0,0,0,0.25);
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.home-info{
  @media #{$large-and-up} {
    margin-top: 100px;
  }
}

.home-info.small-margin-top{
  @media #{$large-and-up} {
    margin-top: 50px;
  }
}

.home-join-us{
  margin-top: 0px;
  margin-bottom: 10px;
  .btn{
    margin-top: 10px;
  }
  @media #{$medium-and-up} {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media #{$large-and-up} {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

body.pages-contact{
  .contact-details{
    padding: 0.75rem;
    .google-maps {
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;

      }
    }
  }
}

.latest-post-box {
  height: 200px;
  overflow: hidden;
  position: relative;

  .title {
    font-size: 1.4rem;

    a {
      color: black;
    }
    a:hover{
      color: #1976D2;
    }
  }

  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 60px 0 0 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8) ,rgba(255,255,255,1));
    a {
      color: $secondary-color;
    }
  }
}
