// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.markdown{
  *{
    max-width: 100%;
  }
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.no-pointer-events{
  pointer-events: none;
}

.front-page-content{
  .text-description{
    font-size: 1.2rem;
  }
}

.fixed-action-btn{
  .social-logo{
    background-color: transparent;
    img{
      width: 100%;
    }
    &.twitter{
      background-color: #55acee;
    }
  }
}

.slider.indicators-inside{
  margin-bottom: -30px;
   ul.indicators{
    z-index: 2;
    bottom: 60px;
  }
}

body.pages-home{
  background-color: white;
  @media #{$large-and-up} {
    main > div.container{
      width: 80%;
    }
  }
}

.black-caption{
  background: rgba(0,0,0,0.25);
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.home-info{
  @media #{$large-and-up} {
    margin-top: 100px;
  }
}

.home-join-us{
  margin-top: 30px;
  margin-bottom: 30px;
  .btn{
    margin-top: 10px;
  }
  @media #{$large-and-up} {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

body.pages-contact{
  .contact-details{
    padding: 0.75rem;
    .google-maps {
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;

      }
    }
    .contact-info{
      margin-bottom: 0;
    }
  }
}
