.photo-box{
  padding: 0;

  img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .photo-content{
    width: 100%;
    position: relative;

    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;

    .photo-name, .photo-action {
      padding-left: 5px;
      padding-right: 5px;
      height: 3rem;
      box-sizing: border-box;
      float: left;
    }

    .photo-name{
      width: calc(100% - 160px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      float: left;
    }

    .photo-action{
      width: 80px;
      text-align: center;
    }
  }
}

.photo-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  img {
    max-width: 100%;
    max-height: 50vh;
  }
}
