.max8{
  margin: 30px auto;
  max-width: 800px;
}

.post-box {
  @extend .max8;
  padding: 5px 20px 10px 20px;

  .heading{
    .title{
      font-size: 30px;
      font-weight: bold;
    }
  }

  .body{
    font-size: 20px;
  }

  .attachment{
    padding: 5px 20px 10px 20px;

    font-size: 18px;
    margin-bottom: 10px;
  }
}

.deleted-option{
  label{
    text-decoration: line-through;
  }
}

.quick-create{
  position: relative;
  /*
  padding-top: 20px;
  padding-bottom: 0px;

  .actions{
    height: 4rem;
    button{
      margin-left: 20px;
    }
  }

  .input-field{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .row{
    margin-bottom: 5px;
  }
  */
}

.quick-links{
  a:not(:first-of-type){
    margin-top: 20px;
  }
  .row{
    margin-bottom: 0px;
  }
}

.compact-form-wrap{
  &.col{
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .row{
    margin-bottom: 0px;
    &.large-margin{
      @media #{$medium-and-down} {
        margin-bottom: 36px;
      }
    }
  }
}

.preloader-container{
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .6);

  .preloader-wrapper{
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
  }
}

.quick-create[data-preloading="true"]{
  display: none;
}
