.post-box {
  border: 1px solid black;
  padding: 5px 20px 10px 20px;
  margin: 10px 0px;

  width: 80%;
  max-width: 700px;

  .heading{
    .title{
      font-size: 30px;
      font-weight: bold;
    }
  }

  .body{
    font-size: 20px;
  }

  .attachment{
    border: 1px solid black;
    padding: 5px 20px 10px 20px;

    font-size: 18px;
    margin-bottom: 10px;
  }
}

.deleted-option{
  label{
    text-decoration: line-through;
  }
}
