.sponsor-card.card {
  padding: 10px;

  .card-content{
    .card-title {
      @extend .grey-text, .text-darken-4;
      position: relative;
      padding-right: 30px;
      .material-icons{
        position: absolute;
        top: 12px;
        right: 0px;
      }
    }
    .sponsor-social{
      float: left;
      img{
        position: relative;
        height: 28px;
        border-radius: 14px;
        margin-top: 10px;
        margin-right: 14px;
      }
      @media #{$medium-and-down} {
        img{
          border-radius: 22px;
          height: 44px;
          margin-top: 10px;
          margin-right: 28px;
        }
      }
    }
    .sponsor-social:last-of-type img{
      margin-right: 0;
    }
  }
}
