<html>
  <body style="text-align:center;padding-left:20px;padding-right:20px;">
    <%= render 'components/mailer_nav.html.erb' %>
    <%= yield %>
    <%= render 'components/mailer_footer.html.erb' %>
  </body>
</html>
