<div id="registration_wrap" class="col s12 compact-form-wrap">
  <div class="row center-align">
    <% if RegistrationField.valid_member_fields? && RegistrationForm.open? %>
    The Warrior Robotix member registration form is open.<br/>
    <%= link_to register_url, register_url %>
    <% else %>
    The Warrior Robotix member registration form is disabled.
    <%= register_url %>
    <% end %>
  </div>
</div>
