<div class="max6">
<h1 class="flow-text">Reset Password</h1>
<div class="card-panel" style="padding-bottom:10px;padding-top:10px;">
  Your reset password URL is invalid. It may causes by following reasons:
  <br/>1. Reset password email has sent out more than 2 days ago
  <br/>2. Password has already reseted
</div>
</div>
