<div class="max6">
<h1 class="flow-text">Forgot Password</h1>
<div class="card-panel" style="padding-bottom:10px;padding-top:10px;">
  <br/>
  A reset password link has sent to your email. If you do not receive any link, your email and student number may not exist in our system. If you are sure your information was correct, please contact Warrior Robotix administers.
  <br/>
  <br/>
</div>
</div>
